@import "css/w3.css";

body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
}

.countup-wrap {
	display: inline-block;
}

.center-block {
	text-align: center !important;
}
