@use "sass:map";

$breakpoints: (
	mobile: 600px,
);

@import "css/w3.css";

@media screen and (max-width: map.get($breakpoints, mobile)) {
	h1.w3-xxlarge {
		font-size: 24px;
	}

	.w3-container {
		padding-left: 8px;
		padding-right: 8px;
	}
}
