@use "sass:map";
@use "base";

@media screen and (max-width: map.get(base.$breakpoints, mobile)) {
	h1.w3-xxlarge {
		font-size: 24px;
	}

	.w3-container {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@import "css/w3.css";
