@use "sass:map";
@use "base";
@use "css/w3.css";
@use "vue3-toastify/dist/index.css";

@media screen and (max-width: map.get(base.$breakpoints, mobile)) {
	h1.w3-xxlarge {
		font-size: 24px;
	}

	.w3-container {
		padding-left: 8px;
		padding-right: 8px;
	}

	button {
		&.w3-black:hover {
			background-color: #000 !important;
			color: #fff !important;
		}

		&.w3-light-grey:hover {
			background-color: #f1f1f1 !important;
			color: #000 !important;
		}
	}
}
